@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    min-height: 100vh;
  }

  .light {
    background-color: #f0f6ff;
  }

  .dark {
    background-color: #111322;
  }

  #__next {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1900px;
    font-family: 'Pretendard';
    font-weight: 400;
  }

  input {
    outline: none;
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Regular.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Medium.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-SemiBold.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Bold.woff') format('woff');
  }
}

@font-face {
  font-family: 'Cormorant';
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap') format('css2');
}
